/* styles.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://images.wallpapersden.com/image/download/the-creator-movie-poster_bmZtZmuUmZqaraWkpJRobWllrWdma2U.jpg') ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #231e26; /* Main text color */
}

/* Header styles */
header {
  color: #f8f7f6; /* Light gray */
  padding: 20px;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(39, 35, 58, 0.8);
  border-radius: 10px;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #f8f7f6; /* Light gray */
  text-decoration: none;
}

/* Hero section styles */
.hero {
  max-width: 60%;
  text-align: left;
  margin-top: 15%;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background-color: #7e809f; /* Grayish blue */
  color: #f8f7f6; /* Light gray */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #006aff; /* Dark gray */
}

/* Footer styles */
footer {
  background-color: #828283; /* Dark gray */
  color: #f8f7f6; /* Light gray */
  text-align: center;
  padding: 20px;
  bottom: 0%;
  position: absolute;
  width: 100%;
}
/* LOGIN styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background: #f8f7f6;*/
  color: #231e26; /* Main text color */
}
form{
  display: flex;
  flex-direction: column;
  background: rgba(39, 35, 58, 0.8);
  text-align: center;
  padding: 20px 25px;
  box-shadow: #231e26;
}
form .title{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
  color: white;
}

.logintxt{
  font-size: 25px;
  color: white;
}

input{
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #7e809f;
  border-radius: 13px;
  outline: none;
}

.error-message{
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
}

.title{
  color: white;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 10px;
}